<ion-header>
  <!-- <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>First</ion-title>
  </ion-toolbar> -->
  <app-toolbar title="Primera"></app-toolbar>
</ion-header>

<ion-content padding>
  <ion-menu-toggle>
    <ion-button expand="full">Toggle menu</ion-button>
  </ion-menu-toggle>

  <ion-button expand="full" (click)="openMenu()">Open menu</ion-button>
  <ion-button expand="full" href="/menu/(menucontent:second)" routerDirection="root">Open Second Page</ion-button>

</ion-content>